@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);
*{
    box-sizing: border-box;
    text-decoration: none;
}
body{

    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}
header{
    /* margin: 10px 10px; */
    display: block;
}
.nav-header{
    background-color: #f8f8f8;
    color: #999999;
    padding: 4px 70px;
}
.nav-li{
    display: flex;
    gap: 30px;
}
.btn-nav{
    display: flex;
    border: none;
    background: none;
    color: #999999;
    &:hover{

    }
}
.menu-a1{
    list-style: none;
    width: 160px;
    height: 70px;
    position: fixed;
    margin-top: 8px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 25px;
    opacity: 0;
    visibility: hidden;
    margin-left: -45px;
    box-shadow: 0 0 1px 0 #ebebeb;
}
.menu-a1 li a {
    color: black;
}
.menu-a1 li {
    padding-top: 5px;
}
.menu2{
    overflow: hidden;
}
.menu2.activee{
    overflow: visible;
}
.menu2.avtivee ul {
    opacity: 1;
}
.menu2:hover ul {
    opacity: 1;
    visibility: visible;
}





.menu-a2{
    list-style: none;
    width: 160px;
    height: 150px;
    position: fixed;
    margin-top: 8px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 25px;
    opacity: 0;
    visibility: hidden;
    margin-left: -45px;
    box-shadow: 0 0 1px 0 #ebebeb;
}
.menu-a2 li a {
    color: black;
}
.menu-a2 li {
    padding-top: 5px;
}
.menu3{
    overflow: hidden;
}
.menu3.activee{
    overflow: visible;
}
.menu3.avtivee ul {
    opacity: 1;
}
.menu3:hover ul {
    opacity: 1;
    visibility: visible;
}
.menu4{
    display: flex;
}
.size-70{
    margin-top: 3px;
    width: 17px;
}
.navi-a{
    display: flex;
    gap: 30px;
    margin-left: 280px;
}


.menu-a4{
    list-style: none;
    width: 160px;
    height: 190px;
    position: fixed;
    margin-top: 60px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 25px;
    opacity: 0;
    visibility: hidden;
    margin-left: -45px;
    box-shadow: 0 0 1px 0 #ebebeb;
}
.menu-a5{
    list-style: none;
    width: 160px;
    height: 145px;
    position: fixed;
    margin-top: 60px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 25px;
    opacity: 0;
    visibility: hidden;
    margin-left: -45px;
    box-shadow: 0 0 1px 0 #ebebeb;
}
.menu-a6{
    list-style: none;
    width: 160px;
    height: 120px;
    position: fixed;
    margin-top: 60px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 25px;
    opacity: 0;
    visibility: hidden;
    margin-left: -45px;
    box-shadow: 0 0 1px 0 #ebebeb;
}
.menu-a7{
    list-style: none;
    width: 160px;
    height: 120px;
    position: fixed;
    margin-top: 60px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 25px;
    opacity: 0;
    visibility: hidden;
    margin-left: -45px;
    box-shadow: 0 0 1px 0 #ebebeb;
}
.menu-a4 li a {
    color: black;
}
.menu-a4 li {
    padding-top: 5px;
}
.menu-a5 li a {
    color: black;
}
.menu-a5 li {
    padding-top: 5px;
}
.menu-a6 li a {
    color: black;
}
.menu-a6 li {
    padding-top: 5px;
}
.menu-a7 li a {
    color: black;
}
.menu-a7 li {
    padding-top: 5px;
}
.menu4{
    overflow: hidden;
}
.menu4.activee{
    overflow: visible;
}
.menu4.avtivee ul {
    opacity: 1;
}
.menu4:hover ul {
    opacity: 1;
    visibility: visible;
}



.navi-right{
    display: flex;
}
.navi-left{
    display: flex;
    gap: 35px;
}
.size-6{
    height: 2rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
    &:hover{
        color: red;
    }
}
.size-7{
    height: 2rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
}
.navig-left2{
    
    overflow: hidden;
}
.navig-left2.active{
    overflow: visible;
}
.size-8{
    height: 3rem;
    padding-top: 1rem;
    margin-right: 42px;
    position: relative;
    display: flex;
    cursor: pointer;
}

.menu-list{
    /* position: absolute; */
    list-style: none;
    width: 300px;
    height: 715px;
    position: fixed;
    margin-top: -160px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 20px;
    opacity: 0;
    margin-left: -300px;
}
.navig-left2.active ul {
    opacity: 1;
}
.menu-list li a {
    color: black;
    font-size: 20px;
}
.menu-list li {
    padding-top: 40px;
}
.menu-list li:first-child{
    border-bottom: 2px solid #999999;
    padding-bottom: 30px;
    margin-left: -20px;
    padding-left: 220px;
}
.navig-right{
    display: flex;
}
.navgation{
    display: flex;
    justify-content: space-between;
}
.navgation-btn{
    display: flex;
}
.size-9{
    height: 60px;
    width: 70px;
    padding-top: 1rem;
    margin-right: 16px;
    color: #ff4c3b;
    margin-right: 20px;
}
.size-10{
    height: 3rem;
    padding-top: 1rem;
    margin-right: 16px;
}
.size-11{
    height: 3rem;
    padding-top: 1rem;
    margin-right: 16px;
}
.size-12{
    height: 3rem;
    padding-top: 1rem;}
.navi{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    margin-bottom: 23px;
    padding: 0 70px;
}
.navig{
    width: 100%;
    height: 500px;
    background-image: url(../img/a1.jpg);
    background-size: cover;
}
.navig-1{
    display: flex;
}
.navig-l{
    width: 50%;
    text-align: center;
    padding-top: 120px;
    margin-top: 40px;

}
.navig-btn{
    border: none;
    background-color: #ff4c3b;
    height: 40px;
    width: 100px;
    &:hover{
        color: black;
        background-color: #fff;
        border: 2px solid red;
        transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -ms-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
}
}

.navig-r{
    width: 50%;
    text-align: center;
 
}
.navi{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    margin-bottom: 23px;
}
.co{
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 20px 70px;   
}
.co-r{
    color: #6c757d;
}
.con{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    padding: 0 70px;
}
.con1{

}
.con-box1{
    border: 1px solid #6c757d;
    padding-left: 20px;
    width: 300px;
}
.container-svj{
    width: 60px;
    height: 60px;
    margin-top: 15px;
}
.container-h5{
    color: #777777;
    margin-top: -15px;
}
.container-h3{
    &:hover{
        color: #ff4c3b;
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
}
}
.container-1{
    margin-left: 20px;
}
.container-box1{
    display: flex;
}
.containerr{
    border: 1px solid #6c757d;
    width: 300px;
    padding-left: 20px;
    margin-top: 40px;
}
.con2{

}
.con2-boxt{
    margin-left: 70px
}
.con2-boxb{
    margin-left: 100px
}
.boxb2{
    width: 100px;
    border: 1px solid #6c757d;
    width: 115px;
}
.boxx{
    width: 350px;
}
.con3{
    width: 350px;
}
.con3-c{
    width: 30px;
    height: 30px;
    background-color: silver;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.con3-2{
    display: flex;
    justify-content: space-between;
}
.con3-h3{
    color: blue;
}
.con3-3{
    background-color: #00000000;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.h33{
    color: red;
}
.con4{
    display: flex;
    align-items: center;
    text-align: center;
}
.con4-1{
    border: 1px solid #6c757d;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.con4-2{
    border: 1px solid #6c757d;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.con5{
    display: flex;
    margin-top: 30px;
    gap: 5px;
}
.con5-btn1{
    color: #fff;
    background-color: #ff4c3b;
    width: 150px;
    height: 40px;
    border: none;
    &:hover{
        border: 2px solid red;
        color: black;
        background-color: #fff;
        transition: 0.3s ease-in-out;
}
}
.con5-btn2{
    color: #fff;
    background-color: #ff4c3b;
    width: 120px;
    height: 40px;
    border: none;
    &:hover{
        border: 2px solid red;
        color: black;
        background-color: #fff;
        transition: 0.3s ease-in-out;
    }
}
.con5-h4{
    color: #6c757d;
    margin-top: -5px;
}
.cont-time{
    background-color: #f7f7f7;
    color: black;
    margin-top: 17px;
    margin-bottom: 7px;
    width: 240px;
    text-align: center;
    height: 85px;
}
.time2{
    margin-top: -17px;}
.time1{
    margin-top: 33px;
}
.conti{
    background-color: #fff3fb;
}
.conti-text{
    text-align: center;
}
.conti-h{
    margin-top: 100px;
    padding-top: 80px;
}
.conti-t{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.conti-box1{
    margin-top: 15px;
}
.conti-box11{
    display: flex;
    margin-bottom: 13px;
}
.conti-boxxx{
    margin-left: 15px;
    margin-top: 25px;
}
.contii{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
    gap: 5px;
    padding: 0 70px;
}
.h222{
    padding: 0 70px;
}
.con-text{
    margin-top: 40px;
    margin-left: 40px;
}
.con-text1{
    display: flex;
    gap: 20px;
}
.con-text2{
    color: #6c757d;
    margin-top: -20px;
    padding-right: 70px;
}
.contiii{
    margin-top: 30px;
    gap: 10px;
}
.conti-img{
    width: 190px;
    &:hover{
        -ms-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        transition: .3s ease-in-out;
}
}
.conti-img1{
    width: 110px;
    &:hover{
        -ms-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        transition: .3s ease-in-out;
}
}
.conti-icon{

}
.size-20{
    width: 12px;
    color: #EDB867;
}
.conti-price{
    margin-top: -16px;
}
.conti-col{
    color: #aaa;
    margin-top: 3px;
}
.conti-co{
    color: #aaa;
}
.conti-color{
    width: 20px;
    height: 20px;
    background-color: silver;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color11{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color22{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color33{
    width: 20px;
    height: 20px;
    background-color: pink;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1000{
    width: 20px;
    height: 20px;
    background-color: rgb(85, 107, 2);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1001{
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1002{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1003{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1004{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1005{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1006{
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-cc{
    display: flex;
    gap: 5px;
}
.conti-color333{
    width: 20px;
    height: 20px;
    background-color: navy;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color44{
    width: 20px;
    height: 20px;
    background-color: bisque;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color55{
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color66{
    width: 20px;
    height: 20px;
    background-color: navy;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color77{
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color88{
    width: 20px;
    height: 20px;
    background-color: bisque;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color555{
    width: 20px;
    height: 20px;
    background-color: silver;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color666{
    width: 20px;
    height: 20px;
    background-color: bisque;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color777{
    width: 20px;
    height: 20px;
    background-color: bisque;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color888{
    width: 20px;
    height: 20px;
    background-color: palegoldenrod;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color999{
    width: 20px;
    height: 20px;
    background-color: silver;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
    margin-bottom: 50px;
}
.h111{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 90px;
}
.h333{
    text-align: center;
}
.foot{
    padding-top: 15px;
    text-align: center;
}
.foot-inp{
    border: none;
    width: 300px;
    height: 50px;
    background-color: #f5f2f2;
    padding: 12px;
}
.foot-1{
    padding-bottom: 100px;
}
.foot-btn{
    border: none;
    background-color: #ff4c3b;
    height: 50px;
    width: 145px;
    margin-left: -4px;
    &:hover{
        color: black;
        background-color: #fff;
        border: 2px solid red;
        transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -ms-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
}
}
.foott{
    background-color: #393230;
    margin-top: -50px;
}
.foottt{
    padding: 50px 70px 60px 70px;
    display: flex;
    justify-content: space-between;
}
.foott1{
    margin-top: 18px;
}
.foott1 h4{
    color: #938d8c;
}
.foott2{

}
.foott2 h3{
    color: #fff;
}
.foott2 ul{
    margin-left: -40px;
    margin-top: 35px;
}
.foott2 ul li{
    list-style: none;
    margin-bottom: 17px;
}
.foott2 ul li a{
    color: #938d8c;
}
.foott3{

}
.foott3 h3{
    color: #fff;
}
.foott3 ul{
    margin-left: -40px;
    margin-top: 35px;
}
.foott3 ul li{
    list-style: none;
    margin-bottom: 17px;
}
.foott3 ul li a{
    color: #938d8c;
}
.foott4{

}
.foott4 h3{
    color: #fff;
}
.footee-1{
    display: flex;
    margin-bottom: -12px;
}
.footee-tt{
    color: #938d8c;
}
.size-666{
  height: 2rem;
  padding-top: 1rem;
  padding-right: 0.5rem;
  margin-top: -1px;
  color: #938d8c;
  &:hover{
      color: red;
    }
}
.foote-l{
    padding-top: 10px;
}
.foote-h5{
    color: #777777;
}
.footee-1{
    display: flex;
    color: #777777;
}
.footee-tt{
    margin-top: 15px;
}
.footee{
    display: flex;
    justify-content: space-around;
}
.footerr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2e2726;
    padding-bottom: 3px;
}
.footerr-r{
    display: flex;
    justify-content: space-around;
}