body{

    width: 100%;
    height: 100%;
}
header{
    /* margin: 10px 10px; */
    display: block;
}
.nav-header{
    background-color: #f8f8f8;
    color: #999999;
    
}
.nav-li{
    display: flex;
    gap: 30px;
}
.btn-nav{
    display: flex;
    border: none;
    background: none;
    color: #999999;
    
}
.size-6{
    height: 1rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
}
.size-7{
    height: 1.2rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
}
.navgation{
    display: flex;
    justify-content: space-between;
}
.navgation-btn{
    display: flex;
}
.size-8{
    height: 2rem;
    padding-top: 1rem;
    margin-right: 42px;
}
.size-9{
    height: 2rem;
    padding-top: 1rem;
    margin-right: 16px;
}
.size-10{
    height: 2rem;
    padding-top: 1rem;
    margin-right: 16px;
}
.size-11{
    height: 2rem;
    padding-top: 1rem;
    margin-right: 16px;
}
.size-12{
    height: 2rem;
    padding-top: 1rem;}
.navi{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    margin-bottom: 23px;
}
.co{
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 20px 0;   
}
.co-r{
    color: #6c757d;
}
.con{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.con1{

}
.con-box1{
    border: 1px solid #6c757d;
    padding-left: 20px;
    width: 300px;
}
.container-svj{
    width: 60px;
    height: 60px;
    margin-top: 15px;
}
.container-h5{
    color: #777777;
    margin-top: -15px;
}
.container-h3{
    &:hover{
        color: #ff4c3b;
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
}
}
.container-1{
    margin-left: 20px;
}
.container-box1{
    display: flex;
}
.containerr{
    border: 1px solid #6c757d;
    width: 300px;
    padding-left: 20px;
    margin-top: 40px;
}
.con2{

}
.con2-boxt{
    margin-left: 70px
}
.con2-boxb{
    margin-left: 100px
}
.boxb2{
    width: 100px;
    border: 1px solid #6c757d;
    width: 115px;
}
.boxx{
    width: 350px;
}
.con3{
    width: 350px;
}
.con3-c{
    width: 30px;
    height: 30px;
    background-color: silver;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.con3-2{
    display: flex;
    justify-content: space-between;
}
.con3-h3{
    color: blue;
}
.con3-3{
    background-color: #00000000;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.h33{
    color: red;
}
.con4{
    display: flex;
    align-items: center;
    text-align: center;
}
.con4-1{
    border: 1px solid #6c757d;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.con4-2{
    border: 1px solid #6c757d;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.con5{
    display: flex;
    margin-top: 30px;
    gap: 5px;
}
.con5-btn1{
    color: #fff;
    background-color: #ff4c3b;
    width: 150px;
    height: 40px;
    border: none;
    &:hover{
        border: 2px solid red;
        color: black;
        background-color: #fff;
        transition: 0.3s ease-in-out;
}
}
.con5-btn2{
    color: #fff;
    background-color: #ff4c3b;
    width: 120px;
    height: 40px;
    border: none;
    &:hover{
        border: 2px solid red;
        color: black;
        background-color: #fff;
        transition: 0.3s ease-in-out;
    }
}
.con5-h4{
    color: #6c757d;
    margin-top: -5px;
}
.cont-time{
    background-color: #f7f7f7;
    color: black;
    margin-top: 17px;
    margin-bottom: 7px;
    width: 240px;
    text-align: center;
    height: 85px;
}
.time2{
    margin-top: -17px;}
.time1{
    margin-top: 33px;
}
.conti{
    background-color: #fff3fb;
}
.conti-text{
    text-align: center;
}
.conti-h{
    margin-top: 100px;
    padding-top: 80px;
}
.conti-t{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.conti-box1{
    margin-top: 15px;
}
.conti-box11{
    display: flex;
}
.conti-boxxx{
    margin-left: 15px;
    margin-top: 25px;
}
.contii{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
    gap: 5px;
}
.con-text{
    margin-top: 40px;
    margin-left: 40px;
}
.con-text1{
    display: flex;
    gap: 20px;
}
.con-text2{
    color: #6c757d;
    margin-top: -20px;
    padding-right: 70px;
}
.contiii{
    margin-top: 30px;
    gap: 10px;
}
.conti-img{
    width: 190px;
}
.conti-img1{
    width: 110px;
}
.conti-icon{

}
.size-20{
    width: 12px;
    color: #EDB867;
}
.conti-price{
    margin-top: -16px;
}
.conti-col{
    color: #aaa;
    margin-top: 3px;
}
.conti-co{
    color: #aaa;
}
.conti-color{
    width: 20px;
    height: 20px;
    background-color: silver;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color11{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color22{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color33{
    width: 20px;
    height: 20px;
    background-color: pink;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1000{
    width: 20px;
    height: 20px;
    background-color: rgb(85, 107, 2);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1001{
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1002{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1003{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1004{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1005{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color1006{
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-cc{
    display: flex;
    gap: 5px;
}
.conti-color333{
    width: 20px;
    height: 20px;
    background-color: navy;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color44{
    width: 20px;
    height: 20px;
    background-color: bisque;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color55{
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color66{
    width: 20px;
    height: 20px;
    background-color: navy;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color77{
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color88{
    width: 20px;
    height: 20px;
    background-color: bisque;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color555{
    width: 20px;
    height: 20px;
    background-color: silver;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color666{
    width: 20px;
    height: 20px;
    background-color: bisque;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color777{
    width: 20px;
    height: 20px;
    background-color: bisque;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color888{
    width: 20px;
    height: 20px;
    background-color: palegoldenrod;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
}
.conti-color999{
    width: 20px;
    height: 20px;
    background-color: silver;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-top: 8px;
    margin-bottom: 50px;
}
.footer{
    background-color: #f1f5f4;
    padding-bottom: 50px;
    margin-top: 40px;
}
.foot{
    padding-top: 15px;
    text-align: center;
}
.foot-inp{
    border: none;
    width: 200px;
    height: 40px;

}
.foot-h2{

}
.foot-1{
    padding-bottom: 100px;
}
.foot-btn{
    border: none;
    background-color: #e4604a;
    height: 40px;
    width: 115px;
   
}
.foote{
    display: flex;
    justify-content: space-around;
}
.foote-l{
    padding-top: 10px;
}
.foote-h5{
    color: #777777;
}
.footee-1{
    display: flex;
    color: #777777;
}
.footee-tt{
    margin-top: 15px;
}
.footee{
    display: flex;
    justify-content: space-around;
}
.footerr{
    display: flex;
    align-items: center;
    justify-content: space-around;
}