@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);
*{
    box-sizing: border-box;
    text-decoration: none;
}
body{

    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}
header{
    /* margin: 10px 10px; */
    display: block;
}
.nav-header{
    background-color: #f8f8f8;
    color: #999999;
    padding: 4px 70px;
}
.nav-li{
    display: flex;
    gap: 30px;
}
.btn-nav{
    display: flex;
    border: none;
    background: none;
    color: #999999;
    &:hover{

    }
}
.menu-a1{
    list-style: none;
    width: 160px;
    height: 70px;
    position: fixed;
    margin-top: 8px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 25px;
    opacity: 0;
    visibility: hidden;
    margin-left: -45px;
    box-shadow: 0 0 1px 0 #ebebeb;
}
.menu-a1 li a {
    color: black;
}
.menu-a1 li {
    padding-top: 5px;
}
.menu2{
    overflow: hidden;
}
.menu2.activee{
    overflow: visible;
}
.menu2.avtivee ul {
    opacity: 1;
}
.menu2:hover ul {
    opacity: 1;
    visibility: visible;
}





.menu-a2{
    list-style: none;
    width: 160px;
    height: 150px;
    position: fixed;
    margin-top: 8px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 25px;
    opacity: 0;
    visibility: hidden;
    margin-left: -45px;
    box-shadow: 0 0 1px 0 #ebebeb;
}
.menu-a2 li a {
    color: black;
}
.menu-a2 li {
    padding-top: 5px;
}
.menu3{
    overflow: hidden;
}
.menu3.activee{
    overflow: visible;
}
.menu3.avtivee ul {
    opacity: 1;
}
.menu3:hover ul {
    opacity: 1;
    visibility: visible;
}
.menu4{
    display: flex;
}
.size-70{
    margin-top: 3px;
    width: 17px;
}
.navi-a{
    display: flex;
    gap: 30px;
    margin-left: 280px;
}


.menu-a4{
    list-style: none;
    width: 160px;
    height: 190px;
    position: fixed;
    margin-top: 60px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 25px;
    opacity: 0;
    visibility: hidden;
    margin-left: -45px;
    box-shadow: 0 0 1px 0 #ebebeb;
}
.menu-a5{
    list-style: none;
    width: 160px;
    height: 145px;
    position: fixed;
    margin-top: 60px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 25px;
    opacity: 0;
    visibility: hidden;
    margin-left: -45px;
    box-shadow: 0 0 1px 0 #ebebeb;
}
.menu-a6{
    list-style: none;
    width: 160px;
    height: 120px;
    position: fixed;
    margin-top: 60px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 25px;
    opacity: 0;
    visibility: hidden;
    margin-left: -45px;
    box-shadow: 0 0 1px 0 #ebebeb;
}
.menu-a7{
    list-style: none;
    width: 160px;
    height: 120px;
    position: fixed;
    margin-top: 60px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 25px;
    opacity: 0;
    visibility: hidden;
    margin-left: -45px;
    box-shadow: 0 0 1px 0 #ebebeb;
}
.menu-a4 li a {
    color: black;
}
.menu-a4 li {
    padding-top: 5px;
}
.menu-a5 li a {
    color: black;
}
.menu-a5 li {
    padding-top: 5px;
}
.menu-a6 li a {
    color: black;
}
.menu-a6 li {
    padding-top: 5px;
}
.menu-a7 li a {
    color: black;
}
.menu-a7 li {
    padding-top: 5px;
}
.menu4{
    overflow: hidden;
}
.menu4.activee{
    overflow: visible;
}
.menu4.avtivee ul {
    opacity: 1;
}
.menu4:hover ul {
    opacity: 1;
    visibility: visible;
}



.navi-right{
    display: flex;
}
.navi-left{
    display: flex;
    gap: 35px;
}
.size-6{
    height: 2rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
    &:hover{
        color: red;
    }
}
.size-7{
    height: 2rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
}
.navig-left2{
    
    overflow: hidden;
}
.navig-left2.active{
    overflow: visible;
}
.size-8{
    height: 3rem;
    padding-top: 1rem;
    margin-right: 42px;
    position: relative;
    display: flex;
    cursor: pointer;
}

.menu-list{
    /* position: absolute; */
    list-style: none;
    width: 300px;
    height: 715px;
    position: fixed;
    margin-top: -160px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 20px;
    opacity: 0;
    margin-left: -300px;
}
.navig-left2.active ul {
    opacity: 1;
}
.menu-list li a {
    color: black;
    font-size: 20px;
}
.menu-list li {
    padding-top: 40px;
}
.menu-list li:first-child{
    border-bottom: 2px solid #999999;
    padding-bottom: 30px;
    margin-left: -20px;
    padding-left: 220px;
}
.navig-right{
    display: flex;
}
.navgation{
    display: flex;
    justify-content: space-between;
}
.navgation-btn{
    display: flex;
}
.size-9{
    height: 60px;
    width: 70px;
    padding-top: 1rem;
    margin-right: 16px;
    color: #ff4c3b;
    margin-right: 20px;
}
.size-10{
    height: 3rem;
    padding-top: 1rem;
    margin-right: 16px;
}
.size-11{
    height: 3rem;
    padding-top: 1rem;
    margin-right: 16px;
}
.size-12{
    height: 3rem;
    padding-top: 1rem;}
.navi{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    margin-bottom: 23px;
    padding: 0 70px;
}
.navig{
    width: 100%;
    height: 500px;
    background-image: url(../img/a1.jpg);
    background-size: cover;
}
.navig-1{
    display: flex;
}
.navig-l{
    width: 50%;
    text-align: center;
    padding-top: 120px;
    margin-top: 40px;

}
.navig-btn{
    border: none;
    background-color: #ff4c3b;
    height: 40px;
    width: 100px;
    &:hover{
        color: black;
        background-color: #fff;
        border: 2px solid red;
        transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -ms-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
}
}

.navig-r{
    width: 50%;
    text-align: center;
 
}
.cont{
    background-color: #f8f8f8;
}
.cont1{
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    text-align: center;
}
.size-2{
    color: #4ead4e;
    width: 50px;
    &:hover {
        -ms-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        transition: .3s ease-in-out;
    }
}
.cont-h3{
    color: #999999;
}
.conta{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 70px;

}
.conta-lef{
    width: 50%;
}
.conta-a{
    display: flex;
    gap: 80px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.conta-n{
    border-right: 1px solid #ddd;
    padding-right: 15px;
}
.conta-img{
    height: 150px;
}
.conta-b{
    margin-top: 20px;
    margin-bottom: 20px;
}
.conta-b1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 14px;
}
.conta-c{

}
.conta-c1{
    display: flex;
    justify-content: space-between;
}
.conta-right{
}
.conta-to{
    display: flex;
    justify-content: space-between;
}
.conta-hh4{
    color: #999999;
}
.conta-bbb{
    background-color: #f9f9f9;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 70px;
}
.h111{
    text-align: center;
    margin-bottom: 50px;
}
.h333{
    text-align: center;
}
.foot{
    padding-top: 15px;
    text-align: center;
}
.foot-inp{
    border: none;
    width: 300px;
    height: 50px;
    background-color: #f5f2f2;
    padding: 12px;
}
.foot-1{
    padding-bottom: 100px;
}
.foot-btn{
    border: none;
    background-color: #ff4c3b;
    height: 50px;
    width: 145px;
    margin-left: -4px;
    &:hover{
        color: black;
        background-color: #fff;
        border: 2px solid red;
        transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -ms-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
}
}
.foott{
    background-color: #393230;
    margin-top: -50px;
}
.foottt{
    padding: 50px 70px 60px 70px;
    display: flex;
    justify-content: space-between;
}
.foott1{
    margin-top: 18px;
}
.foott1 h4{
    color: #938d8c;
}
.foott2{

}
.foott2 h3{
    color: #fff;
}
.foott2 ul{
    margin-left: -40px;
    margin-top: 35px;
}
.foott2 ul li{
    list-style: none;
    margin-bottom: 17px;
}
.foott2 ul li a{
    color: #938d8c;
}
.foott3{

}
.foott3 h3{
    color: #fff;
}
.foott3 ul{
    margin-left: -40px;
    margin-top: 35px;
}
.foott3 ul li{
    list-style: none;
    margin-bottom: 17px;
}
.foott3 ul li a{
    color: #938d8c;
}
.foott4{

}
.foott4 h3{
    color: #fff;
}
.footee-1{
    display: flex;
    margin-bottom: -12px;
}
.footee-tt{
    color: #938d8c;
}
.size-666{
  height: 2rem;
  padding-top: 1rem;
  padding-right: 0.5rem;
  margin-top: -1px;
  color: #938d8c;
  &:hover{
      color: red;
    }
}
.foote-l{
    padding-top: 10px;
}
.foote-h5{
    color: #777777;
}
.footee-1{
    display: flex;
    color: #777777;
}
.footee-tt{
    margin-top: 15px;
}
.footee{
    display: flex;
    justify-content: space-around;
}
.footerr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2e2726;
    padding-bottom: 3px;
}
.footerr-r{
    display: flex;
    justify-content: space-around;
}